@{
    ViewData["Title"] = "About";
}
<div class="box box-auto">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>

    <p>We're a team of two people who love all forms of entertainment.</p>
</div>