@{
    ViewData["Title"] = "Contact";
}
<div class="box">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>
</div>

<hr />
<div class="box">
    <address>
        Oulton College<br />
        4 Flanders Ct, Moncton, NB E1C 0K6<br />
        <abbr title="Phone">P:</abbr>
        (506) 858-9696
    </address>
</div>
<hr />
<div class="box">
    <address>
        <strong>Sam Chevarie:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Amy Daigle:</strong> <a href="mailto:amydaigle99@gmail.com">Marketing@example.com</a>
    </address>
    </div>
